header{
    width: 100%;
    height: 80px;
    background-color: rgb(241, 233, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    
}
nav
{
    display: flex;
    padding: 0px 1000px;
    box-sizing: border-box;
    margin: inherit;
}
body{
    margin: inherit;

    
}
ul{
    display: flex;

}